:root {
  --color-charcoal: rgb(54, 69, 79);
  --color-pastel-pink: rgb(248, 200, 220);
  --color-off-white: rgb(250, 249, 246);
}

html, body, #root, #app {
  height: 100%;
  margin: 0;
}

html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

nav {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  background-color: silver;
  display: flex;
}

main {
  grid-area: 1 / 2 / 2 / 3;
  background-color: var(--color-charcoal);
  color: var(--color-off-white);
  overflow: auto;

}

section {
  min-height: 100%;
  padding-top: 64px;
}

section h2 {
  margin: 0;
  font-size: 42px;
  text-align: center;
}

section .content {
  margin: 64px auto 0;
  width: 75%;
}